@import '../variables';

.dashboard-wrapper {
  display: flex;
  width: 100%;
  margin: 0;
  box-sizing: border-box;

  h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }

  .filters{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
    background-color: rgba($color: $app-5, $alpha: 1.0);
    min-height: 100vh;

    position: sticky;
    top: 89px;

    h3{
      margin: 0;
      margin-right: 30px;
    }

    .filters-wrapper{
      display: flex;
      flex-direction: column;

      justify-content: left;
      padding: 8px 20px;
      width: 100%;

      .filter-container{
      display: flex;
      justify-content: space-around;
      margin: 0 1%;

      input{
        height: auto;
      }

      label{
        margin-right: 5px;
      }
    }
    }
  }

  section {
    width: 100%;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

    h2 {
      color: #333;
      font-size: 20px;
      margin-bottom: 20px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}


.dashboard-posts-section{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  border: 1px solid rgba($color: #a2a2a2, $alpha: 1.0);
  border-radius: 5px;
  padding: 20px;
}

.post-overlay-buttons{
  width: 100%;
  display: flex;
  justify-content: space-between;

  a{
      text-decoration: none;
      color: white;
  }

  .view-link{
      align-self: baseline;
    }
    .close-overlay{
      align-self: flex-end;
    }
}