header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba($color: #3498db, $alpha: 0.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  
    .logo {
      img {
        height: 50px;
      }
    }
  
    .navigation {
      font-weight: 600;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
  
        li {
          margin-right: 20px;
  
          a {
            color: #333;
            text-decoration: none;
            transition: color 0.3s ease-in-out;
  
            &:hover {
              color: #0095f6;
              cursor: pointer;
            }
          }
        }
      }
    }
  
    .user-profile {
      display: flex;
      align-items: center;
  
      .avatar{
        margin-right: 7px;
      }

      .user-details {
        
        .username {
          margin: 0;
          color: #333;
        }
  
        a {
          color: #0095f6;
          text-decoration: none;
          transition: color 0.3s ease-in-out;
  
          &:hover {
            color: #0077b6;
          }
        }
      }
    }
  }
  