// App Colors ---------------------------------------

$app-1: rgb(255, 214, 255);
$app-2: rgb(231, 198, 255);
$app-3: rgb(200, 182, 255);
$app-4: rgb(184, 192, 255);
$app-5: rgb(187, 208, 255);

// Gradients
$app-gradient-1: linear-gradient(to left, rgb(184, 192, 255), rgb(187, 208, 255));

// Shadow

$shadow-1: 0px 0px 10px rgba(0, 0, 0, 0.1);
