@import '../variables';

.admin-wrapper {
  display: flex;
  width: 100%;
  margin: 0;
  box-sizing: border-box;

  h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }

  .filters{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
    background-color: rgba($color: $app-5, $alpha: 1.0);
    min-height: 100vh;
    padding: 20px;
    position: sticky;
    top: 89px;

    h3{
      margin: 0;
      margin-bottom: 30px;
      color: #333;
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    .filters-wrapper{
      display: flex;
      flex-direction: column;
      width: 100%;

      .filter-container{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        label{
          margin-bottom: 5px;
          color: #666;
          font-weight: 600;
        }

        input, select{
          padding: 10px;
          border: 1px solid #e6e6e6;
          border-radius: 5px;
        }
      }
    }
  }

  section {
    flex: 1;
    padding: 20px;
    margin-top: 10px;
    margin-left: 10px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

    div {
      margin-bottom: 20px;

      p {
        margin-bottom: 5px;
        color: #666;
      }

      a {
        color: #333;
        text-decoration: none;
        border-bottom: 1px solid #333;
      }

      hr {
        border: 0;
        height: 1px;
        background: #e6e6e6;
        margin-top: 20px;
      }
    }
  }
}