@import '../variables';

.create-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  max-width: 600px;
  margin: auto;

  form{
    border: 1px solid gray;
    width: 100%;
  }

  h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }

  label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px;

    select, input, textarea {
      width: 100%;
      // max-width: 500px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-top: 5px;
    }

    p {
      color: red;
      margin-top: 5px;
    }
  }

  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: $app-5;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
    max-width: 500px;

    &:hover {
      background-color: darken($app-5, 10%);
    }

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }

  @media (max-width: 600px) {
    padding: 10px;
    h1 {
      font-size: 20px;
    }
    label {
      select, input, textarea {
        padding: 5px;
      }
    }
    button {
      padding: 5px 10px;
    }
  }
}
