@import '../variables';

.create-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  max-width: 600px;
  margin: auto;

  form{
    background-color: #f4f4f4;
    width: 100%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid rgb(208, 208, 208);
    border-radius: 5px;
  }

  h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }

  label {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    color: #666;
    font-weight: 600;

    select {
      // width: 100%;
      padding: 10px;
      border: 1px solid #e6e6e6;
      border-radius: 5px;
      margin-top: 5px;
    }

    input, textarea{
      // width: 100%;
      padding: 10px;
      border: 1px solid #e6e6e6;
      border-radius: 5px;
      margin-top: 5px;
    }

    p {
      color: red;
      margin-top: 5px;
    }
  }

  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: $app-1;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
    max-width: 500px;

    &:hover {
      background-color: darken($app-5, 10%);
    }

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }

  @media (max-width: 600px) {
    padding: 10px;
    h1 {
      font-size: 20px;
    }
    label {
      select, input, textarea {
        padding: 5px;
      }
    }
    button {
      padding: 5px 10px;
    }
  }
}
