.content-editable-element{
    display: flex;
}

form{
    width: 80%;
}

.single-content-wrapper {
    width: 100%;
    max-width: 800px;
    margin: 40px auto 0 auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  
    .user-name {
      color: #333;
      font-size: 24px;
      margin-bottom: 20px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  
    .user-details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
  
      p {
        color: #666;
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 10px;
        width: 80%;
        border-bottom: 1px solid #e6e6e6;
        padding-bottom: 10px;
  
        b {
          color: #333;
          font-weight: 600;
        }
      }
    }
  }
  