// fonts
$app-font: 'Roboto', sans-serif; // Change this to any Google font you'd like

// imports
@import './modules/Home.scss';
@import './modules/Header.scss';
@import './modules/Dashboard.scss';
@import './modules/GenericSocialMedia.scss';
@import './modules/Create.scss';
@import './modules/Posts.scss';
@import './modules/Admin.scss';
@import './modules/Users.scss';

@import 'variables';

body {
  font-family: $app-font;
}

*{
    margin: 0;
}

h1{
    margin: 0 0 20px 0;
}
h2{
    margin: 0 0 14px 0;
}
h3{
    margin: 0 0 10px 0;
}

// Generic Button
.button-0{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: none;
  border: none;

  &:hover{
    cursor: pointer;
  }
}
.button-1 {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background: $app-gradient-1;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: #0077b6;
    }
  }
.button-2 {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #9c00f6;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: #0077b6;
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($app-5, 0.95); /* semi-transparent background */
    z-index: 1000; /* make sure it's on top of other page content */

    max-width: 400px;    
    height: fit-content;
    margin: auto;
    padding: 30px;
    border-radius: 20px;    
  }


// Tiktok
.tiktok_org_post_wrapper {
  // for button
    position: relative;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    &:hover {
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    }
  
    .tiktok-title {
      // to avoid messing up the botton interaction
      pointer-events: none;

      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
  
      h3 {
        margin: 0;
        color: #333;
        font-size: 18px;
      }
  
    }
  
    .post-content {

      min-width: 350px;

      p {
        margin: 0 0 10px;
        color: #000000;
        &:last-child {
          margin-bottom: 0;
        }
      }

      .post-text{
        background-color:rgba($color: $app-3, $alpha: 1);
        padding: 20px;
        border-radius: 5px;
        margin-bottom: 40px;
      }
    }
  }
  